@import url("https://fonts.cdnfonts.com/css/post-no-bills-jaffna");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;

0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title {
  font-family: "Playfair Display", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.line {
  display: inline-block;
  width: 120px;
  height: 1px;
  background: white;
  margin: 0 auto;
}

.button {
  background: none;
  padding: 12px 28px 12px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white;
  margin: 0 auto;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  background: #000;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.article__image {
  padding: 55px 23px;
  background: #191b1c;
  margin-bottom: 15px;
}

.article__img {
  max-width: 215px;
  aspect-ratio: 1/1;
}

.article__title {
  font-family: "Playfair Display", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
}

.article__price {
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #d0d0d0;
}

.text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: white;
}

.header__top {
  padding: 14px 0;
  background: #000000;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header__container::-webkit-scrollbar {
  width: 0px;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__ul li:first-child .header__text {
  padding-left: 0;
}

.header__ul li:last-child .header__text {
  border-right: none;
  padding-right: 0;
}

.header .text {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.53px;
  text-align: right;
  color: #969696;
}

.header .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header .number::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../img/phone.svg);
  background-size: cover;
}

.header__text {
  padding: 0 10px;
  border-right: 1px solid #969696;
}

.header__button {
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.header__button::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../img/enter.svg);
  background-size: cover;
}

.header__bottom {
  background: #0f0f0f;
}

.header__logo {
  width: 104px;
  height: 49px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  padding: 31px 20px;
}

.header__item:hover {
  background: #1f1f1f;
}

.header__link {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

.header__img {
  width: 22px;
  height: 22px;
}

.main {
  background: #000000;
}

.brand {
  max-width: 1920px;
  margin: 0 auto;
  background: url(../img/1.jpg) #0f0f0f80;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.brand__container {
  padding: 150px 0 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}

.brand__box {
  margin: 0 auto;
  padding: 93px 67px;
  border: 4px solid #fff;
}

.brand__title {
  font-family: "Post No Bills Jaffna", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 95px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 4px;
  border-bottom: 2px solid #fff;
  margin-bottom: 8px;
}

.brand__subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.brand__desc {
  max-width: 840px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.season__container {
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

.season__left {
  padding: 90px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.season__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.season__right {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00000080), to(#00000080)), url(../img/3.jpg);
  background-image: -o-linear-gradient(bottom, #00000080 0%, #00000080 100%), url(../img/3.jpg);
  background-image: linear-gradient(0deg, #00000080 0%, #00000080 100%), url(../img/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}

.collection__container {
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.collection__container::before {
  content: "";
  display: block;
  background-image: url(../img/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.collection__right {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.collection__text {
  max-width: 490px;
}

.new__container {
  padding: 120px 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.new__box {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 20px;
}

.brands__container {
  padding: 60px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.brands__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brands__img {
  width: 255px;
  aspect-ratio: 2.7127/1;
}

.contacts {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0f0f0fd9), to(#0f0f0fd9)), url(../img/6.jpg);
  background-image: -o-linear-gradient(bottom, #0f0f0fd9 0%, #0f0f0fd9 100%), url(../img/6.jpg);
  background-image: linear-gradient(0deg, #0f0f0fd9 0%, #0f0f0fd9 100%), url(../img/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts__container {
  padding: 80px 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts__text {
  max-width: 350px;
  text-align: left;
}

.contacts__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  max-width: 290px;
}

.contacts__item {
  padding: 10px 20px 10px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  color: #d0d0d0;
  background: #0f0f0f;
}

.contacts__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contacts__input-text {
  width: 210px;
  height: 42px;
  background: #ffffff66;
}

.contacts__input-text::-webkit-input-placeholder {
  color: #ffffff66;
  padding: 15px 0 15px 15px;
}

.contacts__input-text::-moz-placeholder {
  color: #ffffff66;
  padding: 15px 0 15px 15px;
}

.contacts__input-text:-ms-input-placeholder {
  color: #ffffff66;
  padding: 15px 0 15px 15px;
}

.contacts__input-text::-ms-input-placeholder {
  color: #ffffff66;
  padding: 15px 0 15px 15px;
}

.contacts__input-text::placeholder {
  color: #ffffff66;
  padding: 15px 0 15px 15px;
}

.contacts__input-button {
  border: none;
  background: #0f0f0f;
}

.footer {
  background: #0f0f0f;
}

.footer__container {
  padding: 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  color: #d0d0d0;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.footer__left {
  text-align: left;
}

.footer__right {
  font-weight: 700;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }

  .article__image {
    padding: 25px 10px;
  }

  .article__img {
    max-width: 120px;
  }

  .brand__container {
    padding: 100px 0;
    gap: 55px;
  }

  .season__left {
    padding: 50px 25px;
  }

  .collection__right {
    padding: 30px 0;
  }

  .new__container {
    padding: 50px;
  }

  .new__box {
    max-width: 740px;
    margin: 0 auto;
  }

  .brands__imgs {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .brands__img {
    width: 200px;
  }

  .contacts__container {
    gap: 20px;
  }

  .footer__container {
    padding: 17px 20px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .title {
    font-size: 24px;
    line-height: 28px;
  }

  .article__img {
    max-width: 90px;
  }

  .article__title {
    font-size: 14px;
    line-height: 18px;
  }

  .article__price {
    font-size: 12px;
    line-height: 16px;
  }

  .text {
    font-size: 12px;
    line-height: 120%;
  }

  .brand__container {
    padding: 50px;
    gap: 20px;
  }

  .brand__box {
    padding: 46px 33px;
  }

  .brand__title {
    font-size: 48px;
    line-height: 54px;
  }

  .brand__subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .brand__desc {
    max-width: 550px;
    font-size: 14px;
    line-height: 130%;
  }

  .season__left {
    padding: 20px 10px;
    gap: 20px;
  }

  .season__box {
    gap: 30px;
  }

  .season__right {
    padding-bottom: 80px;
  }

  .collection__right {
    gap: 20px;
  }

  .new__container {
    gap: 20px;
  }

  .new__box {
    max-width: 550px;
    margin: 0 auto;
  }

  .brands__container {
    padding: 30px 20px 40px;
  }

  .brands__img {
    width: 150px;
  }

  .contacts__container {
    padding: 40px 20px 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .article {
    gap: 5px;
  }

  .article:first-child,
  .article:last-child {
    display: none;
  }

  .article__image {
    padding: 15px 10px;
    margin-bottom: 5px;
  }

  .article__img {
    max-width: 70px;
  }

  .header__top {
    padding: 14px 0 0;
  }

  .header__container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .header__logo {
    height: 20px;
  }

  .header__item {
    padding: 10px;
  }

  .brand__container {
    padding: 100px 50px;
    gap: 20px;
  }

  .season__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .season__left {
    padding: 90px 20px 75px;
  }

  .season__box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .season__right {
    padding: 60px 0 40px;
    gap: 20px;
  }

  .collection__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .collection__right {
    padding: 60px 0 40px;
  }

  .new__container {
    gap: 20px;
    padding: 50px 10px;
  }

  .new__box {
    max-width: 600px;
    gap: 20px;
  }

  .brands__container {
    gap: 20px;
  }

  .brands__img {
    width: 90px;
  }

  .contacts__container {
    padding: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: 460px;
  }

  .brand__container {
    padding: 100px 10px;
  }

  .season__left {
    gap: 40px;
  }

  .season .article__image-season {
    padding: 25px 10px;
  }

  .season .article__img-season {
    max-width: 120px;
  }

  .season .article__title-season {
    font-size: 18px;
    line-height: 21px;
  }

  .season .article__price-season {
    font-size: 16px;
    line-height: 18px;
  }

  .brands__imgs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }

  .contacts__container {
    padding: 50px 10px;
  }

  .contacts__newsletter {
    gap: 20px;
  }

  .contacts__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__input-text {
    width: 100%;
  }
}