* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  background: #000;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__number {
  border-right: 1px solid #969696;
  padding: 0 15px;
  color: #969696;
  font-family: PT Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.53px;
  text-align: left;
}

.header__img {
  margin-right: 15px;
}

.header__text {
  padding: 0 15px;
  color: #969696;
  font-family: PT Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.53px;
  text-align: left;
}

.header__work-time {
  border-left: 1px solid #969696;
  padding: 0 15px;
  color: #969696;
  font-family: PT Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.53px;
  text-align: left;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-text {
  font-family: Stick No Bills;
  font-size: 36px;
  font-weight: 700;
  line-height: 53.82px;
  text-align: left;
  color: #ffffff;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  padding: 31px 20px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.12px;
  text-align: left;
  text-transform: uppercase;
  color: #969696;
}

.header__item:hover {
  color: #ffffff;
  background: #1f1f1f;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.header a:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.main {
  background: #000;
}

.brand {
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100vw;
  height: calc(100vh - 127px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand__pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.brand__box {
  width: 320px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 4px solid #fff;
}

.brand__title {
  font-family: Stick No Bills;
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  text-align: left;
  color: #ffffff;
  padding-bottom: 4px;
  border-bottom: 2px solid #fff;
}

.brand__subtitle {
  color: #ffffff;
  padding-top: 7px;
  font-family: PT Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 28.47px;
  text-align: center;
  text-transform: uppercase;
}

.brand__text {
  color: #ffffff;
  width: 740px;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.season {
  height: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.season__left {
  width: 1040px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.season__left-title {
  font-family: Playfair Display;
  font-size: 36px;
  line-height: 42.19px;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.season__span {
  width: 120px;
  height: 1px;
  border-bottom: 1px solid #fff;
}

.season__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.season__left-image {
  width: 260px;
  height: 325px;
  background: #191b1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.season__left-img {
  width: 215px;
  height: 214px;
}

.season__item-title {
  font-family: Playfair Display;
  font-size: 18px;
  letter-spacing: -0.5px;
  line-height: 21.09px;
  text-align: left;
  color: #fff;
  margin-bottom: 10px;
}

.season__item-price {
  font-family: Playfair Display;
  font-size: 16px;
  line-height: 18.75px;
  text-align: left;
  color: #fff;
}

.season__right {
  width: 880px;
  height: 100%;
  background-image: url("../img/3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.season__right-box {
  width: 880px;
  height: 100%;
  background: #0f0f0f80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 100px;
}

.season__right-title {
  font-family: Playfair Display;
  font-size: 36px;
  line-height: 42.19px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

.season__button {
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.29px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 28px;
  background: #00000000;
  border: 1px solid #fff;
  margin-top: 30px;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection__left {
  width: 880px;
  height: 600px;
  background: url("../img/4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.collection__left-color {
  width: 880px;
  height: 600px;
  background: rgba(15, 15, 15, 0.5);
}

.collection__right {
  width: 1040px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection__title {
  font-family: Playfair Display;
  font-size: 36px;
  line-height: 42.19px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40px;
}

.collection__text {
  width: 470px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #fff;
  margin: 40px 0 60px;
}

.new {
  padding: 120px 0 150px;
}

.new__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new__title {
  margin-bottom: 40px;
}

.new__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 23px;
  margin-top: 80px;
}

.brands {
  background: #0f0f0f;
  padding: 60px 0 80px;
}

.brands__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands__title {
  font-family: Playfair Display;
  font-size: 36px;
  line-height: 42.19px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40px;
}

.brands__images {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.brands__img {
  width: 260px;
  height: 90px;
}

.contacts {
  background: url("../img/6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts__bg {
  background: #0f0f0fd9;
}

.contacts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 80px 0 100px;
}

.contacts__title {
  font-family: Playfair Display;
  font-size: 24px;
  line-height: 28.13px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contacts__text {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #fff;
  width: 350px;
  padding-bottom: 35px;
}

.contacts__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 290px;
}

.contacts__item {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #fff;
  padding: 10px 20px;
  background: #0f0f0f;
}

.contacts__input-text {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: left;
  padding: 10px 20px;
  color: #fff;
  background: #ffffff71;
}

.contacts__input-text::-webkit-input-placeholder {
  color: #fff;
}

.contacts__input-text::-moz-placeholder {
  color: #fff;
}

.contacts__input-text:-ms-input-placeholder {
  color: #fff;
}

.contacts__input-text::-ms-input-placeholder {
  color: #fff;
}

.contacts__input-text::placeholder {
  color: #fff;
}

.contacts__input-button {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
  padding: 10px 20px;
  color: #fff;
  background: #0f0f0f;
}

.footer {
  background: #000;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0 17px;
}

.footer__left {
  font-family: PT Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #fff;
}

.footer__right {
  font-family: PT Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
    padding: 0 20px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: 460px;
  }
}